# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ramir\Documents\PUCRS\PUCRS 2021-1\SO - Sistemas Operacionais\ExerciciosSisOp\JessicaRamiro\Jantar_dos_filosofos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
